@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

       
*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'poppins', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    background-size: cover;
    

    /*min-height: 100vh;*/
}

.menu-icon img{
        position: absolute;
        width: 30.23px;
        height: 16.06px;
        left: 22px;
        top: 50px;
}

.logo img{
    position: absolute;
    width: 157.21px;
    height: 54.42px;
    left: 110.88px;
    top: 30px;
}

.search img{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 298px;
    top: 50px;   
}

.cart img{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 345px;
    top: 50px;
}